### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os
import csv

# File to Load (Remember to Change These)
pymoli_data = "Pymoli.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymoli_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [5]:
players = len(purchase_data["SN"].unique())
player_df = pd.DataFrame({"Player Count":[players]})
player_df

   Player Count
0           576

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
u_item = len(purchase_data["Item ID"].unique())
#u_item

In [7]:
avg_price = purchase_data["Price"].mean()
#avg_price

In [8]:
Num_Purch = len(purchase_data["Item ID"])
#Num_Purch

In [9]:
total_rev = purchase_data["Price"].sum()
#total_rev

In [10]:
purch_analysis_df = pd.DataFrame({"Unique Items":[u_item],"No. Of Purchases":[Num_Purch],"Average Price":[avg_price],
                                 "Total Revenue":[total_rev]})
purch_analysis_df["Average Price"]=purch_analysis_df["Average Price"].map("${:,.2f}".format)
purch_analysis_df["Total Revenue"]=purch_analysis_df["Total Revenue"].map("${:,.2f}".format)
purch_analysis_df

   Unique Items  No. Of Purchases Average Price Total Revenue
0           183               780         $3.05     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
m_count = purchase_data.loc[purchase_data["Gender"]=="Male",:]
m_count = len(m_count["SN"].unique())
m_percent = (m_count/players*100)
#m_percent

In [12]:
f_count = purchase_data.loc[purchase_data["Gender"]=="Female",:]
f_count = len(f_count["SN"].unique())
f_percent = (f_count/players*100)
#f_percent
#f_count

In [13]:
ND_count = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]
ND_count = len(ND_count["SN"].unique())
ND_percent = (ND_count/players*100)
#ND_percent
#ND_count

In [14]:
gen_index = purchase_data.set_index("Gender")

In [15]:
gender_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],"Player Count" :[m_count,f_count,ND_count],
                         "Percentage of Players":[m_percent,f_percent,ND_percent]})
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2f}%".format)

                  Gender  Player Count Percentage of Players
0                   Male           484                84.03%
1                 Female            81                14.06%
2  Other / Non-Disclosed            11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
m_p_count = purchase_data.loc[purchase_data["Gender"] == "Male",:]
m_p_count = m_p_count["SN"].count()
m_price = purchase_data.loc[purchase_data["Gender"] == "Male","Price"].mean()
m_total = purchase_data.loc[purchase_data["Gender"] == "Male","Price"].sum()
m_avg = m_total/m_count
m_p_count

652

In [17]:
f_p_count = purchase_data.loc[purchase_data["Gender"]=="Female",:]
f_p_count = f_p_count["SN"].count()
f_price = purchase_data.loc[purchase_data["Gender"] == "Female","Price"].mean()
f_total = purchase_data.loc[purchase_data["Gender"] == "Female","Price"].sum()
f_avg = f_total/f_count
#f_price

In [25]:
ND_p_count = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]
ND_p_count = ND_p_count["SN"].count()
ND_price = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed","Price"].mean()
ND_total = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed","Price"].sum()
ND_avg = ND_total/ND_count
ND_p_count

15

In [32]:
Purchase_analysis = pd.DataFrame({"Gender":["Male","Female","Other/Non-Disclosed"],"Purchase Count":[m_p_count,f_p_count,ND_p_count],
                                  "Total Purchase Value":[m_total,f_total,ND_total],"Average Purchase Price":[m_price,f_price,ND_price],
                                  "Avg Purchase/Person":[m_avg,f_avg,ND_avg]})
Purchase_analysis["Average Purchase Price"] = Purchase_analysis["Average Purchase Price"].map("${:,.2f}".format)
Purchase_analysis["Avg Purchase/Person"] = Purchase_analysis["Avg Purchase/Person"].map("${:,.2f}".format)
Purchase_analysis["Total Purchase Value"] = Purchase_analysis["Total Purchase Value"].map("${:,.2f}".format)

Purchase_analysis.set_index("Gender")

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Purchase/Person
Gender,,,,
Male,652,"$1,967.64",$3.02,$4.07
Female,113,$361.94,$3.20,$4.47
Other/Non-Disclosed,15,$50.19,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [57]:
purchase_data["Age"]

0      20
1      40
2      24
3      24
4      23
       ..
775    21
776    21
777    20
778     7
779    24
Name: Age, Length: 780, dtype: int64

In [97]:
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,44.99,49.99,54.99]
age_range = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40-44","45-49","50-54"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=age_range)

grouped = purchase_data.groupby("Age Ranges")
group_age = grouped["SN"].nunique()
#group_age = len(grouped["SN"].unique())
P_of_age = (age_g/players)*100
age_df = pd.DataFrame({"Total Count":group_age,"Percentage of Players":P_of_age})
age_df["Percentage of Players"] = age_df["Percentage of Players"].map("{:,.2f}%".format)
age_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40-44                11                 1.91%
45-49                 1                 0.17%
50-54                 0                 0.00%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [98]:
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,44.99,49.99,54.99]
age_range = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40-44","45-49","50-54"]

In [99]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40-44
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [101]:
ID_count = grouped["Purchase ID"].count()
#ID_count

In [104]:
avg_age_price = grouped["Price"].mean()
#avg_age_price

In [107]:
total_avg_price = grouped["Price"].sum()
#total_avg_price

In [112]:
per_person = total_avg_price/group_age

#per_person

In [125]:
p_analysis_age = pd.DataFrame({"Purchase Count":ID_count,"Total Purchase Value":total_avg_price,"Average Purchase Price":avg_age_price,
                              "Avg Total Purchase/Person":per_person})
p_analysis_age["Total Purchase Value"] = p_analysis_age["Total Purchase Value"].map("${:,.2f}".format)
p_analysis_age["Average Purchase Price"] = p_analysis_age["Average Purchase Price"].map("${:,.2f}".format)
p_analysis_age["Avg Total Purchase/Person"] = p_analysis_age["Avg Total Purchase/Person"].map("${:,.2f}".format)
p_analysis_age

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase/Person
Age Ranges,,,,
<10,23,$77.13,$3.35,$4.54
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,"$1,114.06",$3.05,$4.32
25-29,101,$293.00,$2.90,$3.81
30-34,73,$214.00,$2.93,$4.12
35-39,41,$147.67,$3.60,$4.76
40-44,12,$36.54,$3.04,$3.32
45-49,1,$1.70,$1.70,$1.70
50-54,0,$0.00,$nan,$nan

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [179]:
#purchase_data.head()

In [180]:
#spenders = purchase_data.iloc[:,[0,1,6]]

SN = purchase_data.groupby("SN")
spend_count = SN["Purchase ID"].count()
#spend_count
spend_avg = SN["Price"].mean()
#spend_avg
total_spend = SN["Price"].sum()
#total_spend

#f_p_count = purchase_data.loc[purchase_data["Gender"]=="Female",:]
#f_p_count = f_p_count["SN"].count()

In [187]:
TOP_SPEND = pd.DataFrame({"Purchase Count":spend_count,"Total Purchase Value":total_spend,"Avg Purchase Price":spend_avg})
TOP_SPEND["Total Purchase Value"] = TOP_SPEND["Total Purchase Value"].map("${:,.2f}".format)
TOP_SPEND["Avg Purchase Price"] = TOP_SPEND["Avg Purchase Price"].map("${:,.2f}".format)
TOP_SPEND = TOP_SPEND.sort_values(["Purchase Count"],ascending=False)
TOP_SPEND

              Purchase Count Total Purchase Value Avg Purchase Price
SN
Lisosia93                  5               $18.96              $3.79
Iral74                     4               $13.62              $3.40
Idastidru52                4               $15.45              $3.86
Asur53                     3                $7.44              $2.48
Inguron55                  3               $11.11              $3.70
...                      ...                  ...                ...
Hala31                     1                $1.02              $1.02
Haisurra41                 1                $4.40              $4.40
Hailaphos89                1                $3.81              $3.81
Haestyphos66               1                $1.97              $1.97
Iskosian40                 1                $3.07              $3.07

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [225]:
purchase_data.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40-44

In [226]:
items = purchase_data.iloc[:,[4,5,6]]
item_group = items.groupby(["Item ID","Item Name"])
item_count = item_group["Item ID"].count()
#item_count

In [245]:
item_price = item_group["Price"].mean()
item_price

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [246]:
item_total = item_count*item_price

In [247]:
most_popular_items = pd.DataFrame({"Purchase Count":item_count,"Item Price":item_price,"Total Purchase Value":item_total})
most_popular_items["Item Price"] = most_popular_items["Item Price"].map("${:,.2f}".format)
most_popular_items["Total Purchase Value"] = most_popular_items["Total Purchase Value"].map("${:,.2f}".format)
pop_format = most_popular_items.sort_values(["Purchase Count"],ascending=False)
pop_format

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
...,...,...,...,...
104,Gladiator's Glaive,1,$1.93,$1.93
23,Crucifer,1,$1.99,$1.99
180,Stormcaller,1,$3.36,$3.36
91,Celeste,1,$4.17,$4.17
134,Undead Crusader,1,$4.50,$4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [273]:
most_profitable = most_popular_items.sort_values(["Total Purchase Value"],ascending=False)

In [274]:
most_profitable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80